/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.TreehouseImage {
  @apply fixed right-0; /* Use fixed positioning */
  object-fit: contain;
  width: auto;
  height: 100vh; /* Full viewport height */
}

body {
  color: black;
  background-color: white;
  height: 1000vh;
}
