/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.PageContainer {
  @apply h-screen w-screen relative;
}

.TreehouseImage {
  @apply absolute right-0 top-0 h-full; /* Image is positioned absolutely at the top-right with full height */
  object-fit: contain; /* Maintain aspect ratio */
  width: auto;}

body {
  color: black;
  background-color: white;
}
